<!-- Global Footer -->
<footer id="footer" class="global-footer">
    <button class="return-top"><span class="sr-only">Back to top</span></button>
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <!--Quick Links-->
                <h2 class="h5">Quick Links</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Quick Link #1</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Long Quick Link #2</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Quick Link #3</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Longer Quick Link #4</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Quick Link #5</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Really Long Quick Link #6</a></li>
                </ul>
            </div>
            <!--Forms-->
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h2 class="h5">Forms</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Form Link #1</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Form Link #2</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Form Link #3</a></li>
                </ul>
            </div>
            <!--Communications-->
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h2 class="h5">Communications </h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="#" target="_blank" rel="noreferrer noopener"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Link #1</a></li>
                </ul>
            </div>
            <!--Business-->
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h2 class="h5">Business</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Business Link #1</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Business Link #2</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Business Link #3</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Business Link #4</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Business Link #5</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Business Link #6</a></li>
                </ul>
            </div>
            <!--Resources-->
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h2 class="h5">Resources</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Resource #1</a></li>
                    <li><a href="#" target="_blank" rel="noreferrer noopener"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Resource #2</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Resource #3</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Resource #4</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Resource #5</a></li>
                    <li><a href="#"><i class="bi bi-chevron-double-right" aria-hidden="true"></i>Resource #6</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">Copyright &copy; @DateTime.Today.AddDays(1).ToString("yyyy") State of California</p>
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/statecorejs")
@Scripts.Render("~/bundles/datatablesjs")
@Scripts.Render("~/bundles/moment")

<script>
    (function () {
        $('#navigation li a[href^="' + document.location + '"]').parent().addClass("active");
    })();
</script>