<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if (gt IE 9)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
@Html.Partial("_head")
<body>
    @Html.Partial("_header")
    <div id="main-content" class="main-content">
        <main class="main-primary">
            @RenderBody()
        </main>
    </div>
    @Html.Partial("_footer")  
    @RenderSection("scripts", required: false)
</body>
</html>
